{%extends "dashboard.html"%}
{%block content%}
<html>
    <head></head>
    <body>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Categories</h4>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                          
                              <th> Category Name </th>
                              <th> Category Description </th>
                              <th> Category Image </th>
                            <th> Options </th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          {%for i in categories%}
                            <tr>
                              <td>{{i.Category_Name}}</td>
                              <td>{{i.Category_Description}}</td>
                              <td><img src="{{i.Category_Image.url}}"></td>
                              <td>
                                <a href="{%url 'edit_category' category_id=i.id%}"><button  type="button" class="btn btn-primary btn-rounded btn-fw">Edit</button></a>
                                <a href="{%url 'delete_category' category_id=i.id%}"><button  type="button" class="btn btn-danger btn-rounded btn-fw">Delete</button></a>
                              </td>
                           
                            </tr>
                            {%endfor%}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
        </div>
    </div>
        
    
            </body>



            </html>
{%endblock%}






