{%extends 'dashboard.html'%}
{%block content%}
<html>
    <head></head>
    <body>
        <div class="card">
                  <div class="card-body">
                    <h4 class="card-title ">Add Product</h4>
                    <form class="forms-sample" method="post" action="{%url 'update_product' product_id=product.id%}" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="form-group mt-2">
                      <select class="form-control" name="category_name" >
                        <option>{{product.CategoryName}}</option>
                        {%for i in categories%}
                        <option>{{i.Category_Name}}</option>
                        {%endfor%}
                        
                      </select>
                    </div>
                    


                        <div class="form-group">
                        <label for="exampleInputEmail1">Product Name</label>
                        <input type="text" class="form-control" name="product_name" value={{product.Product_Name}}>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="number" class="form-control" name="price" value={{product.Price}}>
                      </div>

         
                      <div class="form-group">
                        <label for="exampleInputEmail1">Short Description</label>
                        <textarea class="form-control" name="short_description" >{{product.Short_Description}}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Detailed Description</label>
                        <textarea class="form-control" name="detailed_description" >{{product.Detailed_Description}}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Brand</label>
                        <input type="text" class="form-control" name="brand" value={{product.Brand}}>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Product Image 1</label>
                       <img src="{{product.Product_Image1.url}}"width="100px" height="100px">  
                        <input type="file" class="form-control" name="product_image1" >
                      </div>
                       <div class="form-group">
                        <label for="exampleInputUsername1">Product Image 2</label>
                       <img src="{{product.Product_Image2.url}}"width="100px" height="100px">
                        <input type="file" class="form-control" name="product_image2" >
                      </div>
                       <div class="form-group">
                        <label for="exampleInputUsername1">Product Image 3</label>
                       <img src="{{product.Product_Image3.url}}"width="100px" height="100px">
                        <input type="file" class="form-control" name="product_image3" >
                      </div>
                       
                      
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
    </body>
</html>
{%endblock%}