{%extends "dashboard.html"%}
{%block content%}
<html>
    <head></head>
    <body>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Order Details</h4>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                          
                              <th> Full Name </th>
                              <th> Email </th>
                              <th> Mobile </th>
                            <th> Place </th>
                            <th> Post Code </th>
                            <th> Username </th>
                            <th> Total Price</th>
                            <th> Message </th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          {%for i in bill%}
                            <tr>
                              <td>{{i.Fname}}</td>
                              <td>{{i.Email}}</td>
                              <td>{{i.Mobile}}</td>
                              <td>{{i.Place}}</td>
                              <td>{{i.Post_Code}}</td>
                              <td>{{i.Username}}</td>
                              <td>{{i.Total_Price}}</td>
                              <td>{{i.Message}}</td>
                              <td>
                                <a href="{%url 'edit_category' category_id=i.id%}"><button  type="button" class="btn btn-primary btn-rounded btn-fw">Edit</button></a>
                                <a href="{%url 'delete_category' category_id=i.id%}"><button  type="button" class="btn btn-danger btn-rounded btn-fw">Delete</button></a>
                              </td>
                           
                            </tr>
                            {%endfor%}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
        </div>
    </div>
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                {%if messages%}
                {%for i in messages%}
                {%if i.tags == "success"%}
                <script>
                  swal('{{i}}','','success')
                </script>
                {%endif%}
                {%endfor%}
                {%endif%}
    
            </body>



            </html>
{%endblock%}






